{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Generar código' %}{% endblock %}
{% block content %}

<div class="row">
    <div class="col-sm-3 ">
    	<div class="" id="sidebar" role="navigation">
		  <div class="list-group">
		    <a href="#" class="list-group-item" id="menu-upload">{% trans 'Subir Archivo' %}</a>
		    <a href="#" class="list-group-item">{% trans 'Personalizaci&oacute;n' %}</a>
		    <a href="#" class="list-group-item">{% trans 'Seleccionar plantilla' %}</a>
		  </div>
		</div>
    </div>
    <div class="col-sm-9 col-sm-offset-2 col-md-6 col-md-offset-0">
    	{% block content_menu %}
    	{% endblock %}
    </div>
</div>


{% endblock %}
{% block style %}
<style type="text/css">
</style>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function(){
            //TODO here
        });
    </script>
    {% block js_menu %}
    {% endblock %}
{% endblock %}