{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Inicio' %}{% endblock %}
{% block content %}
<div class="page-header">
  <h1>{% trans 'Bienvenido a' %} {{ PROJECT_NAME }} <small>{{ PROJECT_DESCRIPTION }}</small></h1>
</div>
<p class="lead">{% trans 'Bienvendo a' %} {{ PROJECT_NAME }} <a href="{% url 'personal_data' %}">{{user.username}}</a></p>
{% endblock %}
{% block style %}
<style type="text/css">
</style>
{% endblock %}
{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        //TODO here
    });
</script>
{% endblock %}