{% extends "base.html" %}
{% block title %}Confirmaci&oacute;n de cuenta{% endblock %}
{%block content %}		
	<section class="message-box white-box-container">
		<h3>Bienvendo a {{ PROJECT_NAME }}!</h3>
		<div class="menu-icons icon-about"></div><p>Conoce el funcionamiento general de <strong>{{ PROJECT_NAME }}</strong> en la secci&oacute;n <a href="/about">Acerca</a></p>
		<div class="menu-icons icon-faqs"></div><p>Necesitas ayuda? Accede a las <a href="/help/faq">Preguntas frecuentes</a>  </p>
		<div class="menu-icons icon-blog"></div><p>Ent&eacute;rate de las actualizaciones de la plataforma en el <a href="/blog">Blog oficial de <strong>{{ PROJECT_NAME }}</strong></a>
		<br><br>
		<p>Si tienes dudas, sugerencias, preguntas o quieres reportar un error, puedes hacerlo a trav&eacute;s del m&oacute;dulo <a href="#" id="callFeed">FeedBack</a> que esta disponible a la derecha en todas las ventanas</p>
	</section>
{% endblock%}

{%block js%}
<script type="text/javascript">
	$(document).ready(function(){
	});
</script>
{% endblock%}

{%block style%}
<style>
	#body-container > section {padding-top: 20px;margin-top: 20px;}
	section .menu-icons{float: left;margin-right: 5px;}
	section p{margin-bottom: 20px;}
	.change-pass{margin-bottom: 20px;}
	form label{font-weight: bold;}
	form input{width: 90%; padding: 20px}
</style>
{%endblock%}