{% extends "base.html" %}
{% block TITLE %}Cuenta de Usuario{% endblock %}
{% load gravatartag %}
{% block content %}
<div>
    <div class="uTop">
        <img src="{{ user.email|showgravatar:'32'}}" width="32px" />
        Hola
        <strong>
            <a href="{% url 'personal_data' %}">
                {{ user.first_name }} ({{user.username}})
            </a>
        </strong>
    </div>
    <hr>
    <div id="password-site" class="white-box-container">
        <form method="POST" action="{% url 'change_password' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <th colspan="2" class="t-center">Cambiar Contrase&ntilde;a</th>
                </tr>
                {{passForm}}
                <tr>
                    <td colspan="2" class="t-center" ><hr>
                        <button type="submit" class="btn btn-success btn-large">
                            <i class="icon-wrench icon-white"></i> Actualizar Contrase&ntilde;a
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <hr>
</div>

{% endblock%}



{% block style %}
<style>
    .uTop{
        /*padding:10px;*/
    }
    article p{
        font-size: 12px;
        line-height: 1;
        margin: 5px;
    }

    li hr{
        margin:20px;
    }
    article form table tr th{
        width: 40%;
    }article form table tr td{
        text-align: left;
    }
    table tr th label{
        font-size: 16px;
        margin-top: 5px;
    }
    table tr td input[type=password],table tr td input[type=text]{
        /*height: 30px;*/
        padding: 10px;
        font-size: 16px;
    }
    article form table{
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
    .title{
        text-align: center;
    }

</style>
{% endblock %}

{% block js %}
<script>
	$(document).on("ready", function() {
		$("#settings-password").addClass("active");
	});
	{% if error_email %}
    setAlertError("Error al actualizar correo","Tu correo electronico no pudo ser actualizado")
    {% endif %}
    {% if dataUpdate %}
    setAlertMessage("Datos Actualizados","Tus datos fueron actualizados correctamente")
    {% endif %}
    {% if passwordUpdate %}
    setAlertMessage("Constrase&ntilde;a Actualizada","Tu constrase&ntilde;a fue actualizada correctamente")
    {% endif %}

</script>
{% endblock %}
