{% extends "base.html" %}
{% block TITLE %}Contrase&ntilde;a{% endblock %}
{%block content %}
<article class="message-box white-box-container">
    	{% if validlink %}
    	<h3>Recuperaci&oacute;n de cuenta</h3>
		<p>Por favor escribe tu nueva contrase&ntilde;a para recuperar tu cuenta.</p>
		<form action="" method="post">
		  {% csrf_token %}
		  <table>
		    <tr>
		      <td>{{ form.new_password1.errors }}<label for="id_new_password1">Nueva contrase&ntilde;a:</label></td>
		      <td>{{ form.new_password1 }}</td>
		    </tr>
		    <tr>
		      <td>{{ form.new_password2.errors }}<label for="id_new_password2">Repite la contrase&ntilde;a:</label></td>
		      <td>{{ form.new_password2 }}</td>
		    </tr>
		    <tr>
		      <td></td>
		      <td><input type="submit" value="Restaurar" /></td>
		    </tr>
		  </table>
		</form>
		{% else %}
		<h3>Error recuperando contrase&ntilde;a</h3>
		<p class="lead">La direccion para recuperar la contrase&ntilde;a no es valida, posiblemente sea porque &eacute;sta ya ha sido usada, por favor solicita la recuperaci&oacute;n de nuevo.</p>
		{% endif %}
</article>
{%endblock%}