{% extends "base.html" %}
{% block TITLE %}Contrase&ntilde;a{% endblock %}
{%block content %}
<article class="message-box white-box-container">
		<h3>Restablecer contrase&ntilde;a</h3>
		<p>Hemos enviado un correo electr&oacute;nico con las instrucciones para restablecer la contrase&ntilde;a.</p>
		<p>Revisa la bandeja de entrada de tu correo, si no lo encuentras revisa la bandeja de correos no deseados.</p>
</article>
{%endblock%}
{%block style%}
<style>
	article.white-box-container{min-height: 160px;}
</style>
{%endblock%}