{% extends "base.html" %}
{% block title %}Correo enviado{% endblock %}
{%block content %}		
	<article class="message-box white-box-container info-message">
		<h3>Tu cuenta ha sido registrada!</h3>
		<p>Hemos enviado un correo a <strong>{{ email_address }}</strong> con un link para activar tu cuenta.</p>
		<p>Revisa tu correo, si no vez tu correo de activaci&oacute;n, revisa la bandeja de correo no deseado.</p>
		<p>Recuerda agregar el contacto <strong>no-repy@daiech.com</strong> para que los correos de <strong>{{ PROJECT_NAME }}</strong> lleguen a tu bandeja de entrada.</p>
	</article>
{% endblock%}
{%block style%}
<style>
	article.white-box-container{min-height: 160px;}
</style>
{%endblock%}